.card img {
  height: 50%;
  width: 65%;
  margin: 0 auto;
}

.card {
  height: 300px;
  width: 225px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  padding: 20px;
}

.card p {
  color: rgba(0, 0, 0, 0.5);
  margin: 20px;
}
